/* THEME OPTIONS ************************** */
/* GLOBAL ********************************* */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----- Body ------------------------ */
/* ----- Text ------------------------ */
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h1 {
  border-bottom: 1px solid #eee;
  font-size: 36px;
  margin: 0 0 0.5em 0;
  padding-bottom: 9px;
}

/* ----- Links ----------------------- */
a, a:visited { color: #c00; }
a:hover, a:focus { color: #aa0404; text-decoration: underline; }

a .summary { color: #999; }

.book-navigation a:hover { background-color: #eee; }

/* ----- Lists ----------------------- */
li {
  line-height: 1.25em;
  margin-bottom: .5em;
}

/* ----- Tables ---------------------- */
table { width: 100%; }

table>tbody>tr.odd>td,
table>tbody>tr.odd>th { background-color: #f9f9f9; }

thead th {
  background-color: rgb(166, 5, 5);
  background-color: rgba(166, 5, 5, 0.9);
  color: #fff;
}
/* ----- Forms ----------------------- */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="file"] {
  display: block;
}
select, input[type="file"] {
  height: auto;
}

select,
input[type="text"] { height: 2.5em; }

.form-type-radio input,
.form-type-radio label { display: inline; }


.form-type-radio input { margin: 0px 2px 2px 0; }

.container-inline select {
  display: inline-block;
  width: auto;
}

input:not(.hide).save-location {display: inline-block; }
/*system theme */
.form-item { margin-top: 0.5em; }

/* ----- Bootstrap Overrides --------- */
input,
.btn-primary,
select {
  background-color: inherit;
  color: inherit;
  display: block;
  padding: 6px 12px;
  width: 100%;
}
.btn-primary:hover {
  background-color: inherit;
  color: inherit;
}

.btn-default { margin: 1em 0; }
.btn-default:hover { color: #aa0404; }

/* ----- Fieldsets ----- */
/* Bootstrap-panel behaviour for LCD display, etc. */
fieldset {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

legend {
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #333;
  float: left;
  line-height: 1em;
  margin: 0;
  padding: 10px 15px;
}
legend:hover { cursor: pointer; }

/* HEADER ********************************* */
/* ----- Header Region --------------- */
.header-section {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-top: 20px;
  padding: 8px 14px
}

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */

/* ----- Book Outline: View Block ----- */
/* hide default menu without child items */
.book-navigation .menu { display: none;}

/* replace with View Block containing child items * collapsible menu feature */
#block-views-outline-block {
  border: none;
  float: right;
  margin-left:0.5em;
  padding-bottom: 0;
}
#block-views-outline-block h2 {
  background: url(../images/outline-16.png) no-repeat left center, url(/misc/menu-expanded.png) no-repeat right center;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1em;
  font-weight: normal;
  padding:0 12px 0 20px;
}
#block-views-outline-block .content {
  clear: both;
  display: none;
}
.outline-menu {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0;
  padding: .5em;
}
.outline-menu li { list-style: none; }
.outline-menu li:hover { background: #eee; }
.outline-menu .level1 { font-weight: bold; }
.outline-menu .level2 {
  font-size: .9em;
  padding-left: 1.5em;
}
.outline-menu a.active:hover { cursor: default; }
.outline-menu a.active .level2 { background: transparent url(/misc/message-16-ok.png) no-repeat left center; }
.outline-menu .level3 {
  font-size: .9em;
  padding-left: 3em;
}
.outline-menu a.active .level3 { background: transparent url(/misc/message-16-ok.png) no-repeat 1.5em center; }

/* ----- System menus ----- */
.content>ul.menu>li>a {
  font-weight: bold;
  text-transform: uppercase;
}
#block-menu-menu-accounts .content>ul.menu>li>a {
  font-weight: normal;
  text-transform: none;
}

ul.menu li.expanded>a,
ul.menu li.collapsed>a {
  color: #aa0404;
  font-weight: bold;
}

ul.menu li { margin: 0 0 0.5em 0.5em; }
ul.menu ul.menu ul.menu { margin-top: 0.5em; }

ul.nav { margin-bottom:0; }
#main-menu { display: none; }
#block-system-navigation { display: block; }

.navbar .btn-navbar { padding: 7px 0 7px 10px;}
.btn.btn-navbar::after {
  content: 'Menus';
  color: #333;
  display: block;
  margin-top: -1em;
  width: 8em;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  background: transparent url(/misc/message-16-ok.png) no-repeat left 5px;
  box-shadow: none;
  cursor: default;
  margin-left: -1em;
  padding-left: 1.5em;
}
.content ul.menu li.leaf.active-trail {
  background: url(/misc/message-16-ok.png) no-repeat left 3px;
  display: block;
  margin-left: -1em;
  padding-left: 1.5em;
}

.site-main-menu ul.menu li {
  color: #005580;
  margin-left: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.site-main-menu ul.menu li li {
  margin-left: 0;
  text-transform: none;
}
.site-main-menu ul li.expanded>a,
.navbar #main-nav>.nav>.active.expanded>a {
  background: url(/misc/menu-expanded.png) no-repeat 3px center;
  padding-left:1em;
}
.site-main-menu ul li.collapsed>a,
.navbar #main-nav>.nav>.active.collapsed>a {
  background: url(/misc/menu-collapsed.png) no-repeat 3px center;
  padding-left: 1em;
}

.nav-collapse .nav>li>a {
  padding: .2em 0 .3em .5em;
}
#main-nav li li { padding-left: 1.5em; }
#main-nav li li.leaf { padding-left: 2em; }

/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
.region-sidebar-first {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
#block-menu-menu-accounts h2 { background: url(../images/accounts-24.png) no-repeat 0.5em 2px; }
#block-system-navigation h2 { background: url(../images/navigation-24.png) no-repeat 0.5em 2px; }
.toggle-sb #block-system-navigation h2 { background: url(../images/navigation-min-24.png) no-repeat 0.5em 2px; }

#sidebar-first h2 {
  border-bottom: 2px inset #e3e3e3;;
  font-size: 20px;
  padding:0 0.5em 0.5em 2em;
}
#sidebar-first h2:hover { cursor: pointer; }

#sidebar-first,
#content {
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
#sidebar-first.toggle-sb {
  font-size:smaller;
  width: 15%!important;
}
#content.toggle-sb { width: 80%!important; }
/* factor in front page second sidebar */
.front #content.toggle-sb { width: 55%!important; }

.toggle-sb .content ul.menu li.leaf.active-trail { background-position: left 1px; }

#sidebar-first .block {
  border-bottom: 2px inset #e3e3e3;
  margin-bottom: 0;
  padding-bottom: 1em;
}

/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */
.book-navigation .page-links {
  border-spacing: 5px;
  border-collapse: separate;
  display: table;
  padding: 0;
  width: 100%;
}
.book-navigation .page-previous,
.book-navigation .page-up,
.book-navigation .page-next {
  border: 1px solid #ddd;
  border-radius: 9px;
  display: table-cell;
  float: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 44%;
}
.book-navigation .page-up { width:12%; }

/* style pager links: adjacent/1px bolder/rounded end corners */
.item-list ul.pager {
  margin: 1em auto 0 auto;
  display: table;
}
.item-list .pager li {
  background: none;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: table-cell;
  padding: 0;
  vertical-align: middle;

}
.item-list .pager li.first,
.item-list .pager li.pager-previous {
  border-left: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}
.item-list .pager li.last,
.item-list .pager li.pager-next { border-radius: 0 6px 6px 0; }

.pager>li.pager-current,
.pager>li.pager-ellipsis {
  color: #333;
  cursor: default;
  padding: 0 0.75em;
}

/* hide First/Last pager links */
.pager li.pager-last,
.pager li.pager-first { display: none;}

.pager>li>a,
.pager>li.pager-next a,
.pager>li.pager-last a  {
  padding: .5em .75em;
  text-decoration: none;
  background-color: transparent; /* rounded corner fix */
  border: none;
  border-radius: 0;
  width: 100%;
}
.pager>li>a:hover{ background-color: #eee; }

/* hide ajax throbber icon in pager link after clicked */
ul.pager li div.ajax-progress { display: none; }

/* FOOTER ********************************* */
/* CONTENT ******************************** */

/* VIEWS ********************************** */
/* ----- Open Framework Overrides --------- */
.views-row { margin-bottom: .5em; }
.views-widget-sort-order {width: 30%; }

/* short URLs */
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 1.75em; }

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */


/* IMAGES ******************************** */
/* Moved from 'Code per node': UNB Libraries Logos - Web */
#node-2508 img {
    margin: 20px 0;
    padding: 5px;
    border: #c0c0c0 1px solid;
}

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
.btn:focus { outline: none; }

.description ,
.fieldset-description { 
  color: #888;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}

.text-format-wrapper .description { padding: 0.5em 0; }

/* bootstrap-style submitted text */
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 400;
  color: #777;
}

/* Bootstrap-style alert */
#block-system-help {
  color: #3a87ad;
  background: #d9edf7 url(/misc/message-16-help.png) no-repeat .5em 1.1em;
  border: 1px solid #bce8f1;
  border-color: #bce8f1;
  border-radius: 4px;
  margin: 0.5em 0;
  padding: 1em 1em 1em 2em;
}

fieldset.wrapper-collapsed legend {
  background: url(/misc/menu-collapsed.png) no-repeat 5px 50%;
  padding-left: 15px;
}
fieldset.wrapper-expanded legend {
  background: url(/misc/menu-expanded.png) no-repeat 5px 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 15px;
}

/* ----- Moved from Code per node: Global Content ----- */
/* Glyph, by Harry Roberts */   
hr.fancy {
    padding: 0;
    margin: 60px;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.fancy:after {
    content: "ยง";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.not-logged-in #block-system-main, .not-logged-in h1.page-header {
    display: none;
}
.not-logged-in h1.page-header.show-header {
    display: block;
}
body .container.main-container a, body .container.main-container a:visited {
    color: #cc0000;
}
body .container.main-container a:hover, body .container.main-container a:focus {
    color: #aa0404;
}
#block-system-main div.view-staff-calendar a#submit-event:hover {
    color: #f0f0f0;
}
.pagination>.active>span {
    background-color: #444;
    border-color: #333;
}

/* GENERAL OVERRIDES ********************* */
/* front page content-header */
.front .content-head, .mc-content { margin-bottom: 0; }

/* Desk statistics custom module*/
.page-desk-stats .subgroup { margin-left: 1.3em; }
fieldset.subgroup { border: none; }
fieldset.subgroup legend {
  background:none;
  border: none;
  cursor: default;
  font-size:inherit;
  padding: 0.25em 0;
}

/* LCD-Display fieldsets 'collapsed' on page load */
#-list-hil-lcd-items .fieldset-wrapper,
#-list-hil-lcd-items--2 .fieldset-wrapper { display: none; }

/* System theme */
html.js fieldset.expanded .fieldset-legend,
html.js fieldset.collapsed .fieldset-legend {
  background: none;
  padding-left: 0;
}
.item-list ul li { margin: 0 0 0.5em 0; }

/* restore left/right border on collapsed fieldsets */
html.js fieldset.collapsed {
  border-left-width: 1px;
  border-right-width: 1px;
}

/* date module start/end date widgets */
.container-inline-date > .form-item { margin-bottom: 0; }
.container-inline-date .date-padding { padding: 0 0 0 1.5em; }

/* ----- Form elements ----- */
.form-type-radio label { 
  cursor: pointer;
  font-weight: normal;
}

#edit-body { margin-bottom: 1em; }

/* inline form submit buttons */
.form-actions input {
  display: inline-block;
  margin-right: 0.5em;
}

.form-actions { margin-top: 1em; }
.form-actions #edit-submit {
  background: url(/misc/message-16-ok.png) no-repeat 0.5em center;
  padding-left: 2em;
}
.form-actions #edit-delete {
  background: url(/misc/message-16-error.png) no-repeat 0.5em center;
  padding-left: 2em;
}
.form-actions #edit-preview {
  background: url(/misc/message-16-info.png) no-repeat 0.5em center;
  padding-left: 2em;
}
.form-actions #edit-submit:hover,
.form-actions #edit-preview:hover,
.form-actions #edit-delete:hover { background-color: #eee; }

.fieldset-legend,
.fieldset-legend {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.fieldset-wrapper {
  clear: both;
  padding: 15px;
}

.form-managed-file input[type="file"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: inline-block;
  height: 2.5em;
  padding: 3px 12px;
  width: 80%;
}
.form-managed-file input[value="Upload"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  width: 20%;
}

.form-type-checkboxes .form-type-checkbox { margin: 0; }
.form-type-checkbox label {
  font-weight: normal;
  margin-left: 2px;
}

input[type="checkbox"] { display: inline-block; }

table .checkbox input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
}

/*  ---- Staff_calendar ----- */
.view-staff-calendar .btn {
  background: #fff;
  border-color: #ccc;
  color: #c00;
  text-shadow: none;
}
a#submit-event.btn.btn-default:hover,
a#submit-event.btn.btn-default:focus {
  background-color: #d43f3a;
  border-color: #cc0000;
  color: #fff;
}
.view-staff-calendar .btn:hover {
  background-color: #ebebeb;
  border-color: #adadad;
  color: #aa0404;
}

/* next/previous link */
.view-staff-calendar .pager li>a {
 background-color: #fff;
 border-radius: 9px;
 display: inline-block;
 padding: 5px 14px;
 width: auto;
}
.view-staff-calendar .pager li>a:hover { background-color: #eee; }

/* ----- Tables ----- */
table.table input { padding: 2px 6px 3px; }

/* Open Framework Overrides */
.views-exposed-form .views-exposed-widget { max-width: 80%; }
.main .block { margin-bottom: 1em; }

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
#admin-menu { font-size: 12px; }

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
@media (max-width: 979px) and (min-width: 768px) {
  #sidebar-first { width: 22%!important; }
  #content { width: 72%!important; } 
  #sidebar-first.toggle-sb { width: 20%!important; }
  #content.toggle-sb { width: 74%!important; } 
}

@media (max-width: 767px) {
  #main-menu { display: block; }
  #block-system-navigation { display: none; }
  
  .nav-collapse .nav>li li a,
  .nav-collapse .dropdown-menu a {
    color: #c00;
    font-weight: normal;
  }
  
  .nav-collapse .nav>li>a:hover,
  .nav-collapse .nav>li>a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #ececec;
    color: #aa0404;
  }
  .site-sidebar-first .block { width: 100%; }
  #sidebar-first.toggle-sb {
    font-size: inherit;
    width: 100%!important;
  }
  #sidebar-first h2:hover { cursor: default; }
  #content.toggle-sb,
  .front #content.toggle-sb { width: 100%!important; }
}

/* override Open Framework: Outline toggle for Book content types */
@media (max-width: 767px) and (min-width: 481px) {
  .content-body .block { width: auto; }
}

/* ----- Print ----------------------- */
@media print {
  body.node-type-library-hours a[href]:after {
    content: none;
  }
}