/* THEME OPTIONS ************************** */
/* GLOBAL ********************************* */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----- Text ------------------------ */
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h1 {
  border-bottom: 1px solid #ddd;
  font-size: 36px;
  margin: 0 0 0.5em 0;
  padding-bottom: 7px;
}

.posted {
  border-bottom: 1px solid #bcbcbc ;
  background-color: #f8f8f8 ;
  color: #444;
  font-size: 0.85em;
  padding: 2px;
}

/* ----- Links ----------------------- */
a, a:visited { color: #c00; }
a:hover, a:focus { color: #aa0404; text-decoration: underline; }

a .summary { color: #999; }

.book-navigation a:hover { background-color: #eee; }
.book_printer a { background: transparent url(../images/printer-friendly-16.png) no-repeat left center; padding-left: 19px;}
.book_add_child a { background: transparent url(../images/add-page-16.png) no-repeat left center; padding-left: 19px; }

.read-more a { font-size: 0.95em; }
.read-more a:after {
  height: 10px;
  width: 13px;
  background: url(../images/more.png) no-repeat right center;
  content: " ";
  display: inline-block;
  margin-left: 2px;
  opacity: 0.7;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.read-more a:hover:after { background: url(../images/more.png) no-repeat left center; }

/* ----- Lists ----------------------- */
li {
  line-height: 1.25em;
  margin-bottom: .5em;
}

/* ----- Tables ---------------------- */
table { width: 100%; }

table>tbody>tr.odd>td,
table>tbody>tr.odd>th { background-color: #f9f9f9; }

thead th {
  background-color: #444;
  color: #fff;
}

/* ----- Forms ----------------------- */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="file"] { display: block; }
select, input[type="file"] { height: auto; }

select,
input[type="text"],
input[type="password"] { height: 2.5em; }

.form-type-radio input,
.form-type-radio label { display: inline; }
.form-type-radio input { margin: 0px 2px 2px 0; }

.container-inline select {
  display: inline-block;
  width: auto;
}

input:not(.hide).save-location { display: inline-block; }

/*system theme */
.form-item { margin-top: 0.5em; }

/* ----- Bootstrap Overrides --------- */
input,
select,
.btn-primary {
  background-color: inherit;
  color: inherit;
  display: block;
  padding: 6px 12px;
  width: 100%;
}
.btn-primary:hover {
  background-color: inherit;
  color: inherit;
}

.btn-default { margin: 1em 0; }
.btn-default:hover { color: #aa0404; }

.navbar .btn-navbar .icon-bar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #000;
}

/* ----- Fieldsets ----- */
/* Bootstrap-panel-like behaviour for LCD display, etc. */
fieldset {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

legend {
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #333;
  float: left;
  line-height: 1em;
  margin: 0;
  padding: 10px 15px;
}
legend:hover { cursor: pointer; }

/* HEADER ********************************* */
/* ----- Header Region --------------- */
.header-section {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-top: 20px;
  padding: 8px 14px
}

/* enable User menu block in Header region */
#block-system-user-menu ul.menu { text-align: right; }
#block-system-user-menu ul.menu li { display: inline-block; }
#block-system-user-menu ul.menu a { text-transform: none; }

/* NAVIGATION ***************************** */
/* ----- Book Outline: View Block ----- */
/* hide default book menu */
.book-navigation .menu { display: none; }

/* replace with View Block containing child items * collapsible menu feature */
#block-views-outline-block {
  border: none;
  float: right;
  margin-left:0.5em;
  padding-bottom: 0;
}
#block-views-outline-block .content {
  clear: both;
  display: none;
}
#block-views-outline-block h2 {
  background: url(../images/outline-16.png) no-repeat left top, url(/misc/menu-expanded.png) no-repeat right center;
  color: #c00;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 1em;
  font-weight: normal;
  padding:0 12px 0 20px;
}
#block-views-outline-block h2:hover {
  background: url(../images/outline-16.png) no-repeat left bottom, url(/misc/menu-expanded.png) no-repeat right center;
  color: #aa0404;
  text-decoration: underline;
}

.outline-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: .5em;
}
.outline-menu li { list-style: none; }
.outline-menu li:hover { background: #eee; }
.outline-menu .level1 { font-weight: bold; }
.outline-menu .level2 {
  font-size: .9em;
  padding-left: 1.5em;
}
.outline-menu .level3 {
  font-size: .9em;
  padding-left: 3em;
}
.outline-menu a.active:hover { cursor: default; }
.outline-menu a.active .level2 { background: transparent url(/misc/message-16-ok.png) no-repeat left center; }
.outline-menu a.active .level3 { background: transparent url(/misc/message-16-ok.png) no-repeat 1.5em center; }

/* ----- System menus ----- */
/* user menu */
#block-system-user-menu { margin-top: 1em; }

/* Sidebar navigation */
.content>ul.menu>li>a { font-weight: bold; }
#block-menu-menu-accounts .content>ul.menu>li>a { font-weight: normal; }
.menu li a { color: #333; }
.menu .menu .expanded a:hover {
  color: #900;
  cursor: pointer;
}

/* bootstrap override: no background color on top level menu list links */
.content>.nav>li>a:hover,
.content>.nav>li>a:focus { background-color: inherit; }

ul.menu li a[href]:focus,
ul.menu li a[href]:hover {
  color: #900;
  cursor: pointer;
  text-decoration: underline;
}

ul.menu li.leaf.active-trail a,
ul.menu li.leaf.active-trail a:hover {
  color: #ca0f18;
  cursor: default;
  text-decoration: none;
}

.content>.menu>li.expanded {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
ul.menu li {
  margin-bottom: 0.75em;
}
ul.menu .menu li {
  margin-bottom: 0.25em;
}
ul.nav { margin-bottom: 0; }

/* toggle sidebar nav menu block / responsive 'navbar' menu */
#main-menu { display: none; }
#block-system-navigation { display: block; }

/* tweak navbar button appearance, unhide button text */
.navbar .btn-navbar { padding: 7px 0 7px 10px;}
.navbar .btn-navbar .icon-bar { margin-top: 3px; }
.navbar .btn-navbar .hide {
  display: block;
  margin: 0 0.5em 0 22px;
  color: #000;
  text-shadow: none;
  float: right;
}

/* navbar menu items */
.navbar .nav>.active.expanded>a {
  background: url(/misc/menu-expanded.png) no-repeat 3px center;
}
.navbar .nav>.active.collapsed>a {
  background: url(/misc/menu-collapsed.png) no-repeat 3px center;
}
.navbar .nav>.expanded>a {
  background: url(/misc/menu-collapsed.png) no-repeat left center;
}
#main-nav>.nav>.expanded>a { background: none; }
.navbar .nav>.clicked>a {
  background: url(/misc/menu-expanded.png) no-repeat left center;
}
.navbar .nav>.clicked>a,
.navbar .nav>.expanded>a { padding-left: 12px; }

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  background: transparent url(/misc/message-16-ok.png) no-repeat left 5px;
  box-shadow: none;
  cursor: default;
  margin-left: -1em;
  padding-left: 1.5em;
}

ul li.expanded {
  list-style-image: url(/misc/menu-collapsed.png);
}
ul li.clicked {
  list-style-image: url(/misc/menu-expanded.png);
}

.content ul.menu li.leaf.active-trail {
  background: url(/misc/message-16-ok.png) no-repeat left 3px;
  display: block;
  margin-left: -1em;
  padding-left: 1.5em;
}

.site-main-menu ul.menu li {
  color: #005580;
  margin-left: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.site-main-menu ul.menu li li {
  margin-left: 0;
  text-transform: none;
}
.site-main-menu ul.menu li li.expanded { margin-left: -5px; }

.nav-collapse .nav>li>a {
  padding: .2em 0 .3em .5em;
}

/*#main-nav li li { padding-left: 1.5em; }*/
#main-nav li li { padding-left: 2em; }

/* ----- First Sidebar Menu Blocks --- */
.region-sidebar-first {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

#sidebar-first h2 {
  border-bottom: 2px solid #e3e3e3;;
  font-size: 20px;
  padding:0 0.5em 0.5em 6px;
}

#sidebar-first .block {
  border-bottom: 2px inset #e3e3e3;
  margin-bottom: 0;
  padding-bottom: 1em;
}

/* ----- Pager Nav ------------------- */
.book-navigation .page-links {
  border-spacing: 5px;
  display: table;
  padding: 0;
  width: 100%;
}
.book-navigation .page-previous,
.book-navigation .page-up,
.book-navigation .page-next {
  border: 1px solid #ddd;
  border-radius: 9px;
  display: table-cell;
  float: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 44%;
}
.book-navigation .page-up { width:12%; }

/* style pager links: adjacent/1px bolder/rounded end corners */
.item-list ul.pager {
  margin: 1em auto;
  display: table;
}
.item-list .pager li {
  background: none;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: table-cell;
  padding: 0;
  vertical-align: middle;
}
.item-list .pager li.first,
.item-list .pager li.pager-previous {
  border-left: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}
.item-list .pager li.last,
.item-list .pager li.pager-next { border-radius: 0 6px 6px 0; }

.pager>li.pager-current,
.pager>li.pager-ellipsis {
  color: #333;
  cursor: default;
  padding: 0 0.7em;
}
.pager>li.pager-current { font-size: 1.05em; }

/* hide First/Last pager links */
.pager li.pager-last,
.pager li.pager-first { display: none;}

.pager>li>a,
.pager>li.pager-next a,
.pager>li.pager-last a  {
  padding: .5em .75em;
  text-decoration: none;
  background-color: transparent; /* rounded corner fix */
  border: none;
  border-radius: 0;
  width: 100%;
}
.pager>li>a:hover{ background-color: #eee; }

/* hide ajax throbber icon in pager link after clicked */
ul.pager li div.ajax-progress { display: none; }

/* VIEWS ********************************** */
/* user information */
.view-role-lists .view-header {
  background-color: #f5f5f5;
  border-bottom: 2px solid #d6d6d6;
  border-top: 2px solid #d6d6d6;
  font-weight: bold;
  margin-bottom:1em;
  padding:0.5em;
}
.view-role-lists .view-filters {
  border:1px solid #d6d6d6;
  margin-bottom: 1em;
  padding:0 0.5em;
}
.view-role-lists .views-exposed-form .views-exposed-widget .form-submit { margin-top:1em; }
.view-role-lists thead th {
  background-color: #e6e6e6;
  color:#333;
}
.view-role-lists td .item-list ul { margin-left:0.75em; }
.view-role-lists td li { font-size:smaller; }
#autocomplete { background: #fff; padding:0 .25em; }

/* front page news */
.untrimmed+.read-more { display: none; }

.view-front-page .views-row {
  margin-bottom: 2em;
}
.front h1 { font-size: 31.5px; }
.view-front-page .views-row h2 {
  font-size: 1.3em;
  font-weight: bold;
}
.view-front-page .views-row a:hover { text-decoration: underline; }

/* ----- Open Framework Overrides --------- */
.views-row { margin-bottom: .5em; }
.views-widget-sort-order {width: 30%; }

/* short URLs */
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 1.75em; }

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
.region-sidebar-second .block:first-child h2 {
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  padding-bottom: 7px;
}

/* IMAGES ******************************** */
.view-front-page img { display: none; }
.read-more:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.posted { margin: 1em 0 3em 0; }

/* image styles */
.front-content-img {
  display: block;
  margin: 1em auto;
}
.image-small-left,
.image-medium-left,
.image-large-left {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}
.image-small-right,
.image-medium-right,
.image-large-right {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

/* Moved from 'Code per node': UNB Libraries Logos - Web */
#node-2508 img {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid #c0c0c0;
}

/* ICONS ********************************* */
.sticky .posted { background: #f6f6f6 url(../images/sticky.png) no-repeat 99.6% center; }

#block-system-user-menu a[href="/user"] {
  background: transparent url(../images/my-account-16.png) no-repeat 3px center;
  padding-left: 21px;
}
#block-system-user-menu a[href="/user/logout"] {
  background: transparent url(../images/logout-16.png) no-repeat 4px center;
  padding-left: 23px;
}

.form-actions #edit-submit {
  background: url(/misc/message-16-ok.png) no-repeat 0.5em center;
  padding-left: 2em;
}
.form-actions #edit-delete {
  background: url(/misc/message-16-error.png) no-repeat 0.5em center;
  padding-left: 2em;
}
.form-actions #edit-cancel {
  background: url(../images/cancel-16.png) no-repeat 0.5em center;
  padding-left: 2em;
}
.form-actions #edit-preview {
  background: url(/misc/message-16-info.png) no-repeat 0.5em center;
  padding-left: 2em;
}

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
.btn:focus { outline: none; }

.description,
.fieldset-description { 
  color: #888;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
.disabled { color: #717171; }
.text-format-wrapper .description { padding: 0.5em 0; }

/* bootstrap-style submitted text */
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 400;
  color: #777;
}

/* Bootstrap-style alert */
#block-system-help {
  color: #3a87ad;
  background: #d9edf7 url(/misc/message-16-help.png) no-repeat .5em 1.1em;
  border: 1px solid #bce8f1;
  border-color: #bce8f1;
  border-radius: 4px;
  margin: 0.5em 0;
  padding: 1em 1em 1em 2em;
}

fieldset.wrapper-collapsed legend {
  background: url(/misc/menu-collapsed.png) no-repeat 5px 50%;
  padding-left: 15px;
}
fieldset.wrapper-expanded legend {
  background: url(/misc/menu-expanded.png) no-repeat 5px 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 15px;
}

/* ----- Moved from Code per node: Global Content ----- */
/* Glyph, by Harry Roberts */   
hr.fancy {
    padding: 0;
    margin: 60px;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.fancy:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* hide any "not authorized" message but show user login */
.not-logged-in:not(.page-user) #block-system-main { display: none; }

body .container.main-container a, body .container.main-container a:visited {
    color: #cc0000;
}
body .container.main-container a:hover, body .container.main-container a:focus {
    color: #aa0404;
}
#block-system-main div.view-staff-calendar a#submit-event:hover {
    color: #f0f0f0;
}
.pagination>.active>span {
    background-color: #444;
    border-color: #333;
}

/* GENERAL OVERRIDES ********************* */
/* force full-width 2nd sidebar iframe, i.e. Twitter */
#sidebar-second iframe { width: 100%!important; }

/* front page content-header */
.front .content-head, .mc-content { margin-bottom: 0; }

/* Image file + Insert button */
a.tabledrag-handle .handle {
  height: 22px;
  margin: 0 1em;
  width: 20px;
}
tr.odd .form-item,
tr.even .form-item {
  margin: 0.75em 0;
}
.form-managed-file .form-file,
.form-managed-file .form-submit {
  display: inline;
}

/* Staff calendar sidebar */
.sidebar .view-staff-calendar { margin-bottom: 1.5em; }
.sidebar .view-staff-calendar .btn { width: 100%; }

/* Desk statistics custom module*/
.page-desk-stats .subgroup { margin-left: 1.3em; }
fieldset.subgroup { border: none; }
fieldset.subgroup legend {
  background:none;
  border: none;
  cursor: default;
  font-size:inherit;
  padding: 0.25em 0;
}

/* LCD-Display fieldsets 'collapsed' on page load */
#-list-hil-lcd-items .fieldset-wrapper,
#-list-hil-lcd-items--2 .fieldset-wrapper { display: none; }

/* System theme */
html.js fieldset.expanded .fieldset-legend,
html.js fieldset.collapsed .fieldset-legend {
  background: none;
  padding-left: 0;
}
.item-list ul li { margin: 0 0 0.5em 0; }

/* restore left/right border on collapsed fieldsets */
html.js fieldset.collapsed {
  border-left-width: 1px;
  border-right-width: 1px;
}

/* date module start/end date widgets */
.container-inline-date > .form-item { margin-bottom: 0; }
.container-inline-date .date-padding { padding: 0 0 0 1.5em; }

/* ----- Form elements ----- */
.form-type-radio label { 
  cursor: pointer;
  font-weight: normal;
}

#edit-body { margin-bottom: 1em; }

/* inline form submit buttons */
.form-actions input {
  display: inline-block;
  margin-right: 0.5em;
}

.form-actions { margin-top: 1em; }
.form-actions #edit-submit:hover,
.form-actions #edit-preview:hover,
.form-actions #edit-delete:hover { background-color: #eee; }

.fieldset-legend,
.fieldset-legend {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.fieldset-wrapper {
  clear: both;
  padding: 1em;
}
.filter-wrapper .fieldset-wrapper  { padding: 0; }

.form-managed-file {
  border: 1px solid #ddd;
  padding: 1px;
}
.form-managed-file input[type="file"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: inline-block;
  padding: 3px 12px;
  width: 80%;
}
.form-managed-file input[value="Upload"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  width: 20%;
}

.form-type-checkboxes .form-type-checkbox { margin: 0; }
.form-type-checkbox label {
  font-weight: normal;
  margin-left: 2px;
}

input[type="checkbox"] { display: inline-block; }

table .checkbox input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
}

/*  ---- Staff_calendar ----- */
.view-staff-calendar .btn {
  background: #fff;
  border-color: #ccc;
  color: #c00;
  text-shadow: none;
}
.view-staff-calendar .btn:hover {
  background-color: #ebebeb;
  border-color: #adadad;
  color: #aa0404;
}
.view-footer { border-top: 1px solid #ddd; }

a#submit-event.btn.btn-default:hover,
a#submit-event.btn.btn-default:focus {
  background-color: #d43f3a;
  border-color: #cc0000;
  color: #fff;
}

/* next/previous link */
.date-nav-wrapper .pager li>a {
 background-color: #fff;
 border-radius: 9px;
 display: inline-block;
 padding: 5px 14px;
 width: auto;
}
.date-nav-wrapper .pager li>a:hover {
  color: #c00;
  background-color: #eee;
}

/* ----- Tables ----- */
table.table input { padding: 2px 6px 3px; }

/* Drupal View/Edit ul menu tabs */
.tabs { margin-bottom: 0.5em; }

/* Open Framework Overrides */
.views-exposed-form .views-exposed-widget { max-width: 80%; }
.main .block { margin-bottom: 1em; }
.content-head { margin-bottom: 0; }
.content>.nav { margin-left: 0.5em; }
.sidebar .nav .nav .nav { margin-left: 0.5em; }
#name-and-slogan {
  padding: 0.5em 0;
  width: auto;
}

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
#admin-menu { font-size: 12px; }

/* MEDIA QUERIES ************************* */
/* override Bootstrap widths */
@media (max-width: 979px) and (min-width: 768px) {
/* keep 2nd sidebar to right of page with content */
  .logged-in .site-sidebar-second.span12 {
    float: right;
    width: 476px;
  }

  /* override bootstrap span4 on 2nd sidebar */
  .logged-in .site-sidebar-second .row-fluid .span4 { width: 48.5%; }
  .site-sidebar-second .row-fluid .span4 { width: 100%; }

}

@media (max-width: 767px) {
  /* Menu button/sidebar toggle */
  .logged-in #main-menu { display: block; }
  #block-system-navigation { display: none; }
  
  /* override Bootstrap font weight */
  .nav-collapse .nav>li li a,
  .nav-collapse .dropdown-menu a { font-weight: normal; }

  /* override Bootstap parent list item link color */
  .nav-collapse .nav>li>a,
  .nav-collapse .dropdown-menu a { color: #333; }

  .logged-in .site-sidebar-second .block {
    width: 48.5%;
  }
}

/* override Open Framework: Outline toggle for Book content types */
@media (max-width: 767px) and (min-width: 481px) {
  .content-body .block { width: auto; }

  /* override openframework */
  .site-sidebar-second .block { width: 100%; }
}

@media (max-width: 480px) {
  /* style User menu items as centered buttons */
  #block-system-user-menu ul.menu { text-align: center; }
  #block-system-user-menu ul.menu a {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 4px;
    padding-bottom: 6px;
  }
  #block-system-user-menu ul.menu a:hover { background-color: #e5e5e5; }

  /* switch full-width sidebar blocks */
  .logged-in .site-sidebar-second .block { width: 100%; }
}

/* ----- Print ----------------------- */
@media print {
  body.node-type-library-hours a[href]:after {
    content: none;
  }
}